* {
  margin: 0;
  padding: 0;
}
.bg {
  background-image: url(/assessts/red-and-blue-calculators-yxm0myfzuym67431.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cal-rows {
  /* border: 2px solid red; */
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.btn {
  /* border: 2px solid red; */
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0px 5px;
  cursor: pointer;
  width: 75px;
  color: whitesmoke;
  background-color: rgb(108, 102, 102);
}
.btn-op {
  background-color: rgb(53, 53, 172);
  color: rgb(241, 225, 103);
  /* border: 2px solid red; */
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0px 5px;
  cursor: pointer;
  width: 75px;
}
